body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
h1 {
  text-align: center;
  height: 61px;
}
.tac {
  text-align: center;
}

.bgImg {
  background-color: rgb(255, 255, 255);
  width: 155px;
  height: 155px;
  border-radius: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-left: 65px;
}

img {
  display: block;
  margin-left: auto;
  padding-top: 13px;
  padding-left: 1px;
  margin-right: auto;
  margin-top: -50.09px;
  border-radius: 50%;
  position: relative;
}

.container {
  height: 550px;
}
.container__item {
  display: flex;
  width: 916.35px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 60.22px;
  margin-top: 70px;
  flex-wrap: wrap;
}
.container__card {
  background-color: #479f77;
  width: 278.78px;
  height: 288.27px;
  border-radius: 19.91px;
}
.container__card-title {
  text-align: center;
  height: 23px;
  font-weight: 600;
  margin-top: 17.02px;
}
.container__card-text {
  margin: 0 auto;
  font-weight: 300;
  height: 110px;
  width: 226.35px;
  margin-top: 23.9px;
  font-size: 17.2581px;
  line-height: 128.9%;
}
